DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/convfinqa
LOGFIRE_ENVIRONMENT=development
OPENAI_API_KEY=
OTEL_EXPORTER_OTLP_TRACES_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Bearer dev-otlp-token-123456
